html, body {
  margin: 0;
  font-family: Montserrat;
  font-size: 15px;  
  background-color: rgb(18, 18, 48);
}

body > div {
  box-sizing: border-box;
  width: 80%;
  margin: 1rem auto;
  padding: 1rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: white;
  color: black;
}

a {
  font-size: 0.8rem;
  color: rgb(189, 187, 187);
}

span > a:hover {
  color: #792c9b;
}

h3 {
  text-transform: uppercase;
}

h3:hover {
  color: #792c9b;
}

p {
color: rgb(189, 187, 187);
padding: .3rem .3rem;
}

span > span {
  padding: 1rem;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
  color: #792c9b;
}

.price-1 {
  font-size: .8rem;
  padding: 0.5rem;
  text-decoration: line-through;
  white-space: nowrap;
  color:rgb(189, 187, 187)
}

.price-2 {
  color: black;
  white-space: nowrap;
}

.product {
  width: 25%;
  min-width: 15rem;
  border: none;
  border-radius: 0.3rem;
  word-break: break-word;
  position: relative;
  display: inline-block;
  text-align: center;
}

.product:hover {
  border: none;
  box-shadow: 0 0 2rem .3rem rgba(104, 101, 101, .2);
  
}

.product:focus {

}
.product a:focus {

}

.product .add_to_cart {
  width: 1.3rem;
  right: 0.5rem;
  top: 0.5rem;
  position: absolute; 
}

.img_container {
  padding: 1rem 1rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
}

ul li {
  padding: .5rem 1.3rem;
  border: .03rem solid rgb(189, 187, 187);
  background-color: white;
}

.filter-product {
  display: inline-block;
  border: 0.03rem solid rgb(189, 187, 187);
  border-radius: 0.3rem;
  cursor: pointer; 
  position: relative;
  margin: 1rem;
  right: 0;
}

.filter-product div {
  padding: .5rem 1rem;
}

.filter-product: :focus {

}

.filter-product:hover ul {
  display: block;
  position: absolute;
}

.filter-product:hover ul li:hover {
  background-color: #792c9b;
  color: white;
}
